/* V2 */
/* Colores de marcado en las listas de repes y faltas 
 * que el usuario puede cambiar */
.c1 {
	color: #FFF;
	background-color: #039;
}

.c2 {
	color: #FFF;
	background-color: #393;
}

.c3 {
	color: #FFF;	
	background-color: #C00;
}

.c3 {
	color: #FFF;	
	background-color: #C00;
}


